<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">Lorem ipsum dolor
    <span highlight>sit amet consectetur adipisicing elit.</span>
    Similique saepe distinctio, odit quod adipisci facere placeat voluptatibus, deleniti deserunt earum voluptatum nostrum delectus quae. Quas recusandae tempora earum dicta obcaecati?</p>
  <p class="text-xs">Numero de clientes @if(duration() > 0){<app-counter [duration]="duration()" [message]="message()"/>}</p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3"/>
  </div>
</div>


